<nav>
  <ul class="nav justify-content-center">
      <img src="../assets/images/dropzonenc.png" name="dropZone">
      <li class="nav-item">
          <a id="accueilVol" class="nav-link" [routerLink]="[ '/' ]">Accueil</a>
      </li>
      <li class="nav-item">
          <a id="affichage" class="nav-link" [routerLink]="[ '/affichage' ]">Avionnage</a>
      </li>
      <li class="nav-item">
          <a id="saut-tandem" class="nav-link" [routerLink]="[ '/saut-tandem' ]">Saut Tandem</a>
      </li>
      <li class="nav-item">
          <a id="parachutiste" class="nav-link" [routerLink]="[ '/parachutiste' ]">Parachutiste</a>
      </li>
      <li class="nav-item">
          <a id="parachute" class="nav-link" [routerLink]="[ '/parachute' ]">Parachute</a>
      </li>
      <li class="nav-item">
          <a id="avion" class="nav-link" [routerLink]="[ '/avion' ]">Avion</a>
      </li>
      <li class="nav-item">
          <a id="pilote" class="nav-link" [routerLink]="[ '/pilote' ]">Pilote</a>
      </li>
      <li class="nav-item">
          <a id="beer-list" class="nav-link" [routerLink]="[ '/beer-list' ]">Beer list</a>
      </li>
  </ul>
</nav>

<div class="row align-items-center">
  <div class="col">
    <h2 class="text-center">Vol en cours</h2>

    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom de l'avion</th>
          <th>Numéro de vol</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vols | async">
          <td>{{ v.avion.nom }}</td>
          <td>{{ v.id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <h2 class="text-center">Prochains vols</h2>

    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom de l'avion</th>
          <th>Numéro de vol</th>
          <th>Passagers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vols2 | async">
          <td>{{ v.avion.nom }}</td>
          <td>{{ v.id }}</td>
          <td>
            <ul>
              <li *ngFor="let p of parachutistes | async">
               <p>{{ p.nom }}</p>
               <p>{{ p.prenom }}</p>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <h2 class="text-center">Parachutistes en attente</h2>

    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of parachutistes | async">
          <td>{{ p.nom }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
