<div class="container">
    <h4>Inscription à un saut: </h4>

    <table class="table">
        <thead style="text-align: center;">
            <tr>
                <th>Nom</th>
                <th>Hauteur du saut :</th>
                <th>Choisir un parachute :</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr>
                <td>
                    <div>
                        <label for="typeahead-basic">Nom :</label>
                        <input type="text" name="nom" [(ngModel)]="parachutiste.nom" />
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-dark" id="hauteur"
                                    ngbDropdownToggle>Hauteur</button>
                                <div ngbDropdownMenu aria-labelledby="hauteur">
                                    <button ngbDropdownItem [(ngModel)]="hauteur">1 200 m</button>
                                    <button ngbDropdownItem [(ngModel)]="hauteur">1 600 m</button>
                                    <button ngbDropdownItem [(ngModel)]="hauteur">2 000 m</button>
                                    <button ngbDropdownItem [(ngModel)]="hauteur">2 500 m</button>
                                    <button ngbDropdownItem [(ngModel)]="hauteur">4 000 m</button>
                                    <button ngbDropdownItem [(ngModel)]="hauteur">6 000 m</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>Personnel</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngFor="let parachute of parachutes">
                                <button ngbDropdownItem>{{ parachute.nomHarnais }}, {{ parachute.etat }}</button>
                            </div>
                        </div>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Club</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngFor="let parachute of parachutes">
                                <button ngbDropdownItem>{{ parachute.nomHarnais }}, {{ parachute.etat }}</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<modal #modal titre="Liste des parachutes">
    <table class="table table-striped">
        <thead>
            <tr style="text-align: center;">
                <th>Harnais</th>
                <th>Système de sécurité</th>
                <th>Voile principale</th>
                <th>Voile de secours</th>
                <th>Etat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let p of parachutes" style="text-align: center;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> -->
        </tbody>
    </table>
</modal>