<div class="container">
    <h4>Inscription à un saut: </h4>

    <div>
        <label>Hauteur du saut :</label>
        <select name="hauteur" id="hauteur" [(ngModel)]="formSaut.hauteur">
            <option value="MILLE_DEUX_CENTS">1 200 m</option>
            <option value="MILLE_SIX_CENTS">1 600 m</option>
            <option value="DEUX_MILLES">2 000 m</option>
            <option value="DEUX_MILLES_CINQ_CENTS">2 500 m</option>
            <option value="QUATRE_MILLES">4 000 m</option>
            <option value="SIX_MILLES">6 000 m</option>
        </select>
    </div>

    <div>
        <label>Taille du groupe</label>
        <input type="number" [(ngModel)]="tailleGroupe" min="1">
    </div>
    <table class="table">
        <thead style="text-align: center;">
            <tr>
                <th>Nom</th>
                <th>Choisir un parachute :</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <ng-template #rt let-r="result" let-t="term"> <!-- pour generer la liste sous le typehead -->
                <span>{{ r.nom }} {{ r.prenom }}</span>
            </ng-template>
            <tr *ngFor="let temp of counter(tailleGroupe); let i = index"> <!-- counter -> function pour generer un tableau de taille: tailleGroupe (voir component) -->
                <td>
                    <div>
                        <input id="typeahead-basic" type="text" [(ngModel)]="formSaut.parachutistes[i]"
                            [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="rt" />
                    </div>
                </td>
                <td>
                    <ng-container *ngIf="(formSaut.parachutistes[i] | typeOf) == 'object'">
                        <select name="parachute" [(ngModel)]="formSaut.parachutistes[i].parachuteEquipe">
                            <ng-container *ngFor="let parachute of parachutes">
                                <option *ngIf="!parachute.proprietaire" value="{{ parachute }}">Centre {{parachute.nomVoilePrincipale}}</option>
                                <option *ngIf="parachute.proprietaire && parachute.proprietaire.id == formSaut.parachutistes[i].id" [ngValue]="parachute">Perso {{parachute.nomVoilePrincipale}}</option> -->
                            </ng-container>
                        </select> 
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button (click)="ajouterSaut()">Sauter!</button>
    </div>
</div>