<nav>
    <ul class="nav justify-content-center">
        <img src="../assets/images/dropzonenc.png" name="dropZone">
        <li class="nav-item">
            <a id="accueilVol" class="nav-link" [routerLink]="[ '/' ]">Accueil</a>
        </li>
        <li class="nav-item">
            <a id="affichage" class="nav-link" [routerLink]="[ '/affichage' ]">Affichage</a>
        </li>
        <li class="nav-item">
            <a id="saut-tandem" class="nav-link" [routerLink]="[ '/saut-tandem' ]">Saut Tandem</a>
        </li>
        <li class="nav-item">
            <a id="parachutiste" class="nav-link" [routerLink]="[ '/parachutiste' ]">Parachutiste</a>
        </li>
        <li class="nav-item">
            <a id="parachute" class="nav-link" [routerLink]="[ '/parachute' ]">Parachute</a>
        </li>
        <li class="nav-item">
            <a id="avion" class="nav-link" [routerLink]="[ '/avion' ]">Avion</a>
        </li>
        <li class="nav-item">
            <a id="pilote" class="nav-link" [routerLink]="[ '/pilote' ]">Pilote</a>
        </li>
        <li class="nav-item">
            <a id="beer-list" class="nav-link" [routerLink]="[ '/beer-list' ]">Beer list</a>
        </li>
    </ul>
</nav>

<modal #modal titre="{{ modalTitre }}">
    <div class="form-group">
        <label>Nom</label>
        <input type="text" [(ngModel)]="formAvion.nom" class="form-control">
    </div>
    <div class="form-group">
        <label>Capacité</label>
        <input type="number" [(ngModel)]="formAvion.capacite" class="form-control">
    </div>
    <div class="form-group">
        <label>Nombre de rotation maximal</label>
        <input type="number" [(ngModel)]="formAvion.nbRotaMax" class="form-control">
    </div>
    <div class="form-group">
        <label>Altitude maximal</label>
        <input type="number" [(ngModel)]="formAvion.altitudeMax" class="form-control">
    </div>
    <div class="form-group">
        <label>Disponible</label>
        <input type="checkbox" [(ngModel)]="formAvion.disponible" class="form-control">
    </div>

    <div>
        <button *ngIf="edition" type="button" class="btn btn-outline-dark form-control"
            (click)="modifierAvion()">Modifier</button>
        <button *ngIf="!edition" type="button" class="btn btn-outline-dark form-control"
            (click)="ajouterAvion()">Ajouter</button>
    </div>
</modal>

<div class="container">
    <button style="background-color: #7070ff; margin-bottom: 5px;" class="btn" (click)="ajouterAvionModal()">Ajouter un
        avion</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Capacité</th>
            <th>Nb rotation</th>
            <th>Altitude max</th>
            <th>Disponible</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let avion of avions | async">
            <td>{{ avion.nom }}</td>
            <td>{{ avion.capacite }}</td>
            <td>{{ avion.nbRotaMax }}</td>
            <td>{{ avion.altitudeMax }}</td>
            <td>{{ avion.disponible }}</td>
            <td><button class="btn btn-warning" (click)="modifierAvionModal(avion)">Editer</button></td>
            <td><button class="btn btn-danger" (click)="supprimerAvion(avion)">Supprimer</button></td>
        </tr>
    </tbody>
</table>