<nav>
    <ul class="nav justify-content-center">
        <img src="../assets/images/dropzonenc.png" name="dropZone">
        <li class="nav-item">
            <a id="accueilVol" class="nav-link" [routerLink]="[ '/' ]">Accueil</a>
        </li>
        <li class="nav-item">
            <a id="affichage" class="nav-link" [routerLink]="[ '/affichage' ]">Affichage</a>
        </li>
        <li class="nav-item">
            <a id="saut-tandem" class="nav-link" [routerLink]="[ '/saut-tandem' ]">Saut Tandem</a>
        </li>
        <li class="nav-item">
            <a id="parachutiste" class="nav-link" [routerLink]="[ '/parachutiste' ]">Parachutiste</a>
        </li>
        <li class="nav-item">
            <a id="parachute" class="nav-link" [routerLink]="[ '/parachute' ]">Parachute</a>
        </li>
        <li class="nav-item">
            <a id="avion" class="nav-link" [routerLink]="[ '/avion' ]">Avion</a>
        </li>
        <li class="nav-item">
            <a id="pilote" class="nav-link" [routerLink]="[ '/pilote' ]">Pilote</a>
        </li>
        <li class="nav-item">
            <a id="beer-list" class="nav-link" [routerLink]="[ '/beer-list' ]">Beer list</a>
        </li>
    </ul>
</nav>

<div class="container">
    <button style="background-color: #0affff; margin-bottom: 5px;" class="btn" (click)="ouvrirModalAjout()">Ajouter un
        parachute</button>
</div>


<table class="table table-striped">
    <thead>
        <th>Harnais</th>
        <th>Système de sécurité</th>
        <th>Nom voile principale</th>
        <th>Nom voile de secours</th>
        <th>Taille voile principale</th>
        <th>Taille voile de secours</th>
        <th>Date de pliage</th>
        <th>Etat</th>
        <th>Utilisateur</th>
        <th>Propriétaire</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let parachute of parachutes | async">
            <td> {{ parachute.nomHarnais }}</td>
            <td> {{ parachute.systemeSecurite }}</td>
            <td> {{ parachute.nomVoilePrincipale }}</td>
            <td> {{ parachute.nomVoileSecours }}</td>
            <td> {{ parachute.tailleVoilePrincipale }}</td>
            <td> {{ parachute.tailleVoileSecours }}</td>
            <td> {{ parachute.datePliageVoileSecours }}</td>
            <td> {{ (parachute.etat | disponible)}}</td>
            <td>{{ parachute.proprietaire }}</td>
            <td>
                <div *ngIf="parachute.utilisateur != null">
                    {{ parachute.utilisateur.nom}}
                </div>
            </td>
            <td><button (click)="editerParachute(parachute)" class="btn btn-warning">Editer</button></td>
            <td><button (click)="supprimerParachute(parachute)" class="btn btn-danger">Supprimer</button></td>
        </tr>
    </tbody>
</table>


<hr>

<!-- FORMULAIRE ADD-->


<modal #modal titre="{{ modalTitre }}">
    <div>
        <div class="form-group">
            <label>Nom du harnais </label>
            <input type="text" [(ngModel)]="formParachute.nomHarnais" class="form-control">
        </div>
        <div class="form-group">
            <label>Système de sécurité </label>
            <select [(ngModel)]="formParachute.systemeSecurite" class="form-control">
                <option value="CYPRESS">CYPRESS</option>
                <option value="VIGIL">VIGIL</option>
            </select>
        </div>
        <div class="form-group">
            <label>Nom de la voile principale </label>
            <input type="text" [(ngModel)]="formParachute.nomVoilePrincipale" class="form-control">
        </div>
        <div class="form-group">
            <label>Nom de la voile de secours </label>
            <input type="text" [(ngModel)]="formParachute.nomVoileSecours" class="form-control">
        </div>
        <div class="form-group">
            <label>Taille de la voile principale </label>
            <input type="number" [(ngModel)]="formParachute.tailleVoilePrincipale" class="form-control">
        </div>
        <div class="form-group">
            <label>Taille de la voile de secours </label>
            <input type="number" [(ngModel)]="formParachute.tailleVoileSecours" class="form-control">
        </div>
        <div class="form-group">
            <label>Date de pliage de la voile de secours </label>
            <input type="date" [(ngModel)]="formParachute.datePliageVoileSecours" class="form-control">
        </div>
        <hr>
        <button *ngIf="!edit" (click)="ajouterParachute()" class="form-control btn btn-success"> ajouter </button>
        <button *ngIf="edit" (click)="modifierParachute()" class="form-control btn btn-warning"> Modifier </button>
    </div>
</modal>
