<nav>
    <ul class="nav justify-content-center">
        <img src="../assets/images/dropzonenc.png" name="dropZone">
        <li class="nav-item">
            <a id="accueilVol" class="nav-link" [routerLink]="[ '/' ]">Accueil</a>
        </li>
        <li class="nav-item">
            <a id="affichage" class="nav-link" [routerLink]="[ '/affichage' ]">Affichage</a>
        </li>
        <li class="nav-item">
            <a id="saut-tandem" class="nav-link" [routerLink]="[ '/saut-tandem' ]">Saut Tandem</a>
        </li>
        <li class="nav-item">
            <a id="parachutiste" class="nav-link" [routerLink]="[ '/parachutiste' ]">Parachutiste</a>
        </li>
        <li class="nav-item">
            <a id="parachute" class="nav-link" [routerLink]="[ '/parachute' ]">Parachute</a>
        </li>
        <li class="nav-item">
            <a id="avion" class="nav-link" [routerLink]="[ '/avion' ]">Avion</a>
        </li>
        <li class="nav-item">
            <a id="pilote" class="nav-link" [routerLink]="[ '/pilote' ]">Pilote</a>
        </li>
        <li class="nav-item">
            <a id="beer-list" class="nav-link" [routerLink]="[ '/beer-list' ]">Beer list</a>
        </li>
    </ul>
</nav>

<!-- LISTE DES PARACHUTISTES -->

<div *ngIf="!afficheParachutePerso">

    <div class="container">
        <button style="background-color: #adff2f; margin-bottom: 5px;" class="btn" (click)="ouvrirModalAjout()">Ajouter
            un parachutiste</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr style="text-align: center;">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Niveau</th>
                <th>Licence</th>
                <th>Date licence</th>
                <th>Parachute</th>
                <th>Liste des parachutes</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parachutiste of parachutistes | async" style="text-align: center;">
                <td> {{ parachutiste.nom }}</td>
                <td> {{ parachutiste.prenom }}</td>
                <td> {{ parachutiste.niveau }}</td>
                <td> {{ parachutiste.licence }}</td>
                <td> {{ parachutiste.dateLicence | date: 'dd-MM-yyyy'}}</td>
                <td>
                    <ul *ngIf="parachutiste.parachuteEquipe != null">
                        {{ parachutiste.parachuteEquipe.nomHaranis }}
                    </ul>
                </td>
                <td> <button style="background-color: #0affff;" class="btn"
                        (click)="voirParachutePerso(parachutiste)">Voir les parachutes</button> </td>
                <td>
                    <div class="row">
                        <div class="col">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Associer
                                    parachute</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem (click)="retirerParachute(parachutiste)">Retirer
                                        parachute</button>
                                    <button ngbDropdownItem *ngFor="let parachute of parachutes | async"
                                        (click)="associerParachute(parachutiste,parachute)">{{parachute.id}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><button (click)="editerParachutiste(parachutiste)" class="btn btn-warning">Editer</button></td>
                <td><button (click)="supprimerParachutiste(parachutiste)" class="btn btn-danger">Supprimer</button></td>
            </tr>
        </tbody>
    </table>

    <hr>


</div>

<!-- FORMULAIRE ADD PARACHUTISTE-->


<modal #modal titre="{{ modalTitre }}">
    <div class="form-group">
        <label>Nom : </label>
        <input type="text" [(ngModel)]="formParachutiste.nom" class="form-control">
    </div>
    <div class="form-group">
        <label>Prenom : </label>
        <input type="text" [(ngModel)]="formParachutiste.prenom" class="form-control">
    </div>
    <div class="form-group">
        <label>Niveau </label>
        <select [(ngModel)]="formParachutiste.niveau" class="form-control">
            <option value="DEBUTANT">Débutant</option>
            <option value="INTERMEDIAIRE">Intermediaire</option>
            <option value="CONFIRME">Confirmé</option>
        </select>
    </div>
    <div class="form-group">
        <label>Licence </label>
        <input type="text" [(ngModel)]="formParachutiste.licence" class="form-control">
    </div>
    <div class="form-group">
        <label>Date licence </label>
        <input type="date" [(ngModel)]="formParachutiste.dateLicence" class="form-control">
    </div>
    <hr>
    <div>
        <button *ngIf="!edit" (click)="ajouterParachutiste()" class="form-control btn btn-success"> ajouter </button>
        <button *ngIf="edit" (click)="modifierParachutiste()" class="form-control btn btn-warning"> Modifier </button>
    </div>
</modal>

<!-- LISTE DES PARACHUTES PERSOS -->


<div *ngIf="afficheParachutePerso">
    <h2>Parachutes de {{proprietaireParachute.prenom}} {{proprietaireParachute.nom}}</h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr style="text-align: center;">
                <th>Harnais</th>
                <th>Système de sécurité</th>
                <th>Nom voile principale</th>
                <th>Nom voile de secours</th>
                <th>Taille voile principale</th>
                <th>Taille voile de secours</th>
                <th>Date de pliage</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parachute of parachutesPerso" style="text-align: center;">
                <td> {{ parachute.nomHarnais }}</td>
                <td> {{ parachute.systemeSecurite }}</td>
                <td> {{ parachute.nomVoilePrincipale }}</td>
                <td> {{ parachute.nomVoileSecours }}</td>
                <td> {{ parachute.tailleVoilePrincipale }}</td>
                <td> {{ parachute.tailleVoileSecours }}</td>
                <td> {{ parachute.datePliageVoileSecours }}</td>
                <td> {{ parachute.etat }}</td>
                <td><button (click)="editerParachute(parachute)" class="btn btn-warning">Editer</button></td>
                <td><button (click)="supprimerParachute(parachute)" class="btn btn-warning">Supprimer</button></td>
            </tr>
        </tbody>
    </table>

    <hr>
    <button (click)="ouvrirModalAjoutParachute()" class="form-control btn btn-success"> ajouter </button>
    <hr>
    <button (click)="retourParachutistes()" class="form-control btn btn-warning"> Retour </button>
</div>

<!-- MODAl CREATION PARACHUTE PERSO -->

<modal #modalParachute titre="{{ modalTitre }}">
    <div>
        <div class="form-group">
            <label>Nom du harnais </label>
            <input type="text" [(ngModel)]="formParachute.nomHarnais" class="form-control">
        </div>
        <div class="form-group">
            <label>Système de sécurité </label>
            <select [(ngModel)]="formParachute.systemeSecurite" class="form-control">
                <option value="CYPRESS">CYPRESS</option>
                <option value="VIGIL">VIGIL</option>
            </select>
        </div>
        <div class="form-group">
            <label>Nom de la voile principale </label>
            <input type="text" [(ngModel)]="formParachute.nomVoilePrincipale" class="form-control">
        </div>
        <div class="form-group">
            <label>Nom de la voile de secours </label>
            <input type="text" [(ngModel)]="formParachute.nomVoileSecours" class="form-control">
        </div>
        <div class="form-group">
            <label>Taille de la voile principale </label>
            <input type="number" [(ngModel)]="formParachute.tailleVoilePrincipale" class="form-control">
        </div>
        <div class="form-group">
            <label>Taille de la voile de secours </label>
            <input type="number" [(ngModel)]="formParachute.tailleVoileSecours" class="form-control">
        </div>
        <div class="form-group">
            <label>Date de pliage de la voile de secours </label>
            <input type="date" [(ngModel)]="formParachute.datePliageVoileSecours" class="form-control">
        </div>
        <hr>
        <button *ngIf="!editParachute" (click)="ajouterParachute()" class="form-control btn btn-success"> ajouter
        </button>
        <button *ngIf="editParachute" (click)="modifierParachute()" class="form-control btn btn-warning"> Modifier
        </button>
    </div>
</modal>