<hr>

<!-- LISTE DES PARACHUTISTES -->

<table class="table table-striped">
    <thead>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Licence</th>
        <th>Date licence</th>
        <th>Parachute</th>
        <th>Liste des parachutes</th>
    </thead>
    <tbody>
        <tr *ngFor="let parachutiste of parachutistes">
            <td> {{ parachutiste.nom }}</td>
            <td> {{ parachutiste.prenom }}</td>
            <td> {{ parachutiste.licence }}</td>
            <td> {{ parachutiste.dateLicence }}</td>
            <td> {{ parachutiste.parachuteEquip }}</td>
            <td> <button>Voir les parachutes</button> </td>
            <td><button (click)="editerParachutiste(parachutiste)">Editer</button></td>
        </tr>
    </tbody>
</table>

<hr>

<!-- FORMULAIRE ADD-->

<modal #modal titre="Modification parachutiste">
        <div class="form-group">
            <label>Nom : </label>
            <input type="text" [(ngModel)]="formParachutiste.nom" class="form-control">
        </div>
        <div class="form-group">
            <label>Prenom : </label>
            <input type="text" [(ngModel)]="formParachutiste.prenom" class="form-control">
        </div>
        <div class="form-group">
            <label>Licence : </label>
            <input type="text" [(ngModel)]="formParachutiste.licence" class="form-control">
        </div>
        <div class="form-group">
            <label>Date licence : </label>
            <input type="text" [(ngModel)]="formParachutiste.dateLicence" class="form-control">
        </div>
        <div class="form-group">
            <label>Parachute : </label>
            <button> Ajouter un parachute perso </button>
        </div>
        <div>
            <button (click)="ajouterParachutiste()"> ajouter </button>
        </div>
</modal>