<nav>
    <ul class="nav justify-content-center">
        <img src="../assets/images/dropzonenc.png" name="dropZone">
        <li class="nav-item">
            <a id="accueilVol" class="nav-link" [routerLink]="[ '/' ]">Accueil</a>
        </li>
        <li class="nav-item">
            <a id="affichage" class="nav-link" [routerLink]="[ '/affichage' ]">Affichage</a>
        </li>
        <li class="nav-item">
            <a id="saut-tandem" class="nav-link" [routerLink]="[ '/saut-tandem' ]">Saut Tandem</a>
        </li>
        <li class="nav-item">
            <a id="parachutiste" class="nav-link" [routerLink]="[ '/parachutiste' ]">Parachutiste</a>
        </li>
        <li class="nav-item">
            <a id="parachute" class="nav-link" [routerLink]="[ '/parachute' ]">Parachute</a>
        </li>
        <li class="nav-item">
            <a id="avion" class="nav-link" [routerLink]="[ '/avion' ]">Avion</a>
        </li>
        <li class="nav-item">
            <a id="pilote" class="nav-link" [routerLink]="[ '/pilote' ]">Pilote</a>
        </li>
        <li class="nav-item">
            <a id="beer-list" class="nav-link" [routerLink]="[ '/beer-list' ]">Beer list</a>
        </li>
    </ul>
</nav>

<div>
    <table class="table table-stripped">
        <thead>
            <tr style="text-align: center;">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Niveau</th>
                <th>licence</th>
                <th></th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let parachutiste of parachutistes | async" style="text-align: center;">
                <td>{{ parachutiste.nom }}</td>
                <td>{{ parachutiste.prenom }}</td>
                <td>{{ parachutiste.niveau }}</td>
                <td>{{ parachutiste.licence }}</td>
                <td>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
                        <label ngbButtonLabel class="btn-outline-success">
                          <input ngbButton type="radio" value="false" [(ngModel)]="parachutiste.isBeerLine"> Non
                        </label>
                        <label ngbButtonLabel class="btn-outline-warning">
                          <input ngbButton type="radio" value="true" [(ngModel)]="!parachutiste.isBeerLine"> Oui
                        </label>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
