<div>
    <h4>Les membres qui doivent payer une bière sont :</h4>
</div>

<div>
    <table class="table table-stripped">
        <thead>
            <tr style="text-align: center;">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numero de licence</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parachutistes of beerList | async" style="text-align: center;">
                <td>{{ parachutistes.nom }}</td>
                <td>{{ parachutistes.prenom }}</td>
                <td>{{ parachutistes.id }}</td>
                <td>
                    <button class="btn btn-warning" (click)="supprimerMembre(parachutistes)">Retirer de la liste</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<div>
    <Label>Ajouter un membre :</Label>
    <div>
        <button class="btn btn-success" (click)="ouvrirModal()">Liste des membres</button>
    </div>
</div>

<modal #modal titre="{{ modalTitre }}">
    <table class="table table-striped">
        <thead>
            <tr style="text-align: center;">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Niveau</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of parachutistes | async" style="text-align: center;">
                <td>{{ p.nom }}</td>
                <td>{{ p.prenom }}</td>
                <td>{{ p.niveau }}</td>
                <td>
                    <button class="btn btn-warning" (click)="ajouterMembre(parachutistes)">Ajouter à la Beer list</button>
                </td>
            </tr>
        </tbody>
    </table>
</modal>