<nav style="background-color: black;">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a style="color: yellow" class="nav-link active" aria-current="page" [routerLink] = "[ '/' ]">home</a>
    </li>
    <li class="nav-item">
      <a style="color: yellow" class="nav-link" [routerLink] = "[ '/avion' ]">Avion</a>
    </li>
    <li class="nav-item">
      <a style="color: yellow" class="nav-link" [routerLink] = "[ '/pilote' ]">Pilote</a>
    </li>
    <li class="nav-item">
      <a style="color: yellow" class="nav-link" [routerLink] = "[ '/parachutiste' ]">Parachutiste</a>
    </li>
    <li class="nav-item">
      <a style="color: yellow" class="nav-link" [routerLink] = "[ '/parachute' ]">Parachute</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
