<nav>
  <ul class="nav justify-content-center">
    <img src="../assets/images/dropzonenc.png"name="dropZone">
    <li class="nav-item">
      <a id="1" class="nav-link active" aria-current="page" [routerLink] = "[ '/' ]">Accueil</a>
    </li>
    <li class="nav-item">
      <a id="2" class="nav-link" [routerLink] = "[ '/avion' ]">Avion</a>
    </li>
    <li class="nav-item">
      <a id="3" class="nav-link" [routerLink] = "[ '/pilote' ]">Pilote</a>
    </li>
    <li class="nav-item">
      <a id="4" class="nav-link" [routerLink] = "[ '/parachutiste' ]">Parachutiste</a>
    </li>
    <li class="nav-item">
      <a id="5" class="nav-link" [routerLink] = "[ '/parachute' ]">Parachute</a>
    </li>
    <li class="nav-item">
      <a id="6" class="nav-link" [routerLink] = "[ '/vol' ]">Vol</a>
    </li>
    <li class="nav-item">
      <a id="7" class="nav-link" [routerLink] = "[ '/affichage' ]">Affichage</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
