nav {
  background-color: rgb(94, 91, 91);
  height: 60px;
}

nav a {
  display: block;
  font: normal bold 17px/21px "Roboto",Helvetica,Arial,Verdana,sans-serif;
  color: white;
  text-decoration: initial;
	transition: all 0.5s ease-in-out;
  padding-top: 20px;
}

nav a:hover {
  padding-top: 15px;
	animation: backInUp 1s;
  color: yellow;
}

nav img {
  width: 9%;
  padding-right : 10px;
  padding-top: 4px;
}
