nav {
  background-color: rgb(94, 91, 91);
  height: 80px;
}

img[name="dropZone"]{
  position: fixed;
  left: 50px;
  height: 70px;
  margin-top: 5px;
  
}

nav a {
  display: block;
  font: normal bold 19px/23px "Roboto",Helvetica,Arial,Verdana,sans-serif;
  color: white;
  text-decoration: initial;
	transition: all 0.25s ease-in-out;
  padding-top: 30px;
}

nav a[id="1"]:hover {
  padding-top: 25px;
	animation: backInUp 0.5s;
  color: #ff5050;
}
nav a[id="1"]:focus{
  color: #ff5050;
}

nav a[id="2"]:hover {
  padding-top: 25px;
	animation: backInUp 0.5s;
  color: #ffa600;
}
nav a[id="2"]:focus{
  color: #ffa600;
}

nav a[id="3"]:hover {
  padding-top: 25px;
	animation: backInUp 0.5s;
  color: #ffff2e;
}
nav a[id="3"]:focus{
  color: #ffff2e;
}

nav a[id="4"]:hover {
  padding-top: 25px;
	animation: backInUp 0.5s;
  color: #adff2f;
}
nav a[id="4"]:focus{
  color: #adff2f;
}

nav a[id="5"]:hover {
  padding-top: 25px;
	animation: backInUp 0.5s;
  color: #0affff;
}
nav a[id="5"]:focus{
  color: #0affff;
}

nav a[id="6"]:hover {
  padding-top: 25px;
	animation: backInUp 0.5s;
  color: #7070ff;
}
nav a[id="6"]:focus{
  color: #7070ff;
}

nav a[id="7"]:hover {
  padding-top: 25px;
	animation: backInUp 0.5s;
  color: #ab51ff;
}
nav a[id="7"]:focus{
  color: #ab51ff;
}

