<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h3>Parachutistes en attente</h3>
            <table class="table table-striped table-responsive-sm table-dark">
                <thead>
                    <th>Hauteur</th>
                    <th>Nombre</th>
                    <th>Nom</th>
                </thead>
                <tbody>
                    <tr *ngFor="let saut of sauts">
                        <td>{{ saut.hauteur }}</td>
                        <td>{{ saut.parachutistes?.length }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let para of saut.parachutistes">
                                    {{ para.nom }} {{ para.prenom }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <h3>Vol en cours</h3>
                    <table class="table table-striped table-responsive-sm table-dark">
                        <thead>
                            <th>Avion</th>
                            <th>Nombre parachutistes</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h3>Prochain vols</h3>
                    <table class="table table-striped table-responsive-sm table-dark">
                        <thead>
                            <th>Avion</th>
                            <th>Place libre</th>
                            <th>Etat</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-warning form-control">Ajouter un vol</button>
            </div>
        </div>
    </div>
</div>