<nav>
    <ul class="nav justify-content-center">
        <img src="../assets/images/dropzonenc.png" name="dropZone">
        <li class="nav-item">
            <a id="accueilVol" class="nav-link" [routerLink]="[ '/' ]">Accueil</a>
        </li>
        <li class="nav-item">
            <a id="affichage" class="nav-link" [routerLink]="[ '/affichage' ]">Affichage</a>
        </li>
        <li class="nav-item">
            <a id="saut-tandem" class="nav-link" [routerLink]="[ '/saut-tandem' ]">Saut Tandem</a>
        </li>
        <li class="nav-item">
            <a id="parachutiste" class="nav-link" [routerLink]="[ '/parachutiste' ]">Parachutiste</a>
        </li>
        <li class="nav-item">
            <a id="parachute" class="nav-link" [routerLink]="[ '/parachute' ]">Parachute</a>
        </li>
        <li class="nav-item">
            <a id="avion" class="nav-link" [routerLink]="[ '/avion' ]">Avion</a>
        </li>
        <li class="nav-item">
            <a id="pilote" class="nav-link" [routerLink]="[ '/pilote' ]">Pilote</a>
        </li>
        <li class="nav-item">
            <a id="beer-list" class="nav-link" [routerLink]="[ '/beer-list' ]">Beer list</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h3>Parachutistes en attente</h3>
            <table class="table table-striped table-responsive-sm table-dark">
                <thead>
                    <th>Hauteur</th>
                    <th>Nombre</th>
                    <th>Nom</th>
                </thead>
                <tbody>
                    <tr *ngFor="let saut of sauts">
                        <td>{{ saut.hauteur }}</td>
                        <td>{{ saut.parachutistes?.length }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let para of saut.parachutistes">
                                    {{ para.nom }} {{ para.prenom }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <h3>Vol en cours</h3>
                    <table class="table table-striped table-responsive-sm table-dark">
                        <thead>
                            <th>Avion</th>
                            <th>Nombre parachutistes</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h3>Prochain vols</h3>
                    <table class="table table-striped table-responsive-sm table-dark">
                        <thead>
                            <th>Avion</th>
                            <th>Place libre</th>
                            <th>Etat</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <button style="background-color: #ff5050;" class="btn form-control">Ajouter un vol</button>
            </div>
        </div>
    </div>
</div>