<modal #modal titre="{{ modalTitre }}">
  <div class="form-group">
      <label>Nom du parachustiste</label>
      <input type="text" [(ngModel)]="formSautTandem.parachutiste.nom" class="form-control">
  </div>
  <div class="form-group">
      <label>Capacité</label>
      <input type="number" [(ngModel)]="formSautTandem.capacite" class="form-control">
  </div>
  <div class="form-group">
      <label>Nombre de rotation maximal</label>
      <input type="number" [(ngModel)]="formSautTandem.nbRotaMax" class="form-control">
  </div>
  <div class="form-group">
      <label>Altitude maximal</label>
      <input type="number" [(ngModel)]="formSautTandem.altitudeMax" class="form-control">
  </div>
  <div class="form-group">
      <label>Disponible</label>
      <input type="checkbox" [(ngModel)]="formSautTandem.disponible" class="form-control">
  </div>

  <div>
      <button *ngIf="edition" type="button" class="btn btn-outline-dark form-control" (click)="modifierSautTandem()">Modifier</button>
      <button *ngIf="!edition" type="button" class="btn btn-outline-dark form-control" (click)="ajouterSautTandem()">Ajouter</button>
  </div>
</modal>

<button class="btn btn-success" (click)="ajouterSautTandemModal()">Ajouter</button>

<table class="table table-striped">
  <thead>
      <tr>
          <th>Nom</th>
          <th>Capacité</th>
          <th>Nb rotation</th>
          <th>Altitude max</th>
          <th>Disponible</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let s of sautsTandem | async">
          <td>{{ sautsTandem.nom }}</td>
          <td>{{ avion.capacite }}</td>
          <td>{{ avion.nbRotaMax }}</td>
          <td>{{ avion.altitudeMax }}</td>
          <td>{{ avion.disponible }}</td>
          <td><button class="btn btn-warning" (click)="modifierAvionModal(avion)">Editer</button></td>
          <td><button class="btn btn-danger" (click)="supprimerAvion(avion)">Supprimer</button></td>
      </tr>
  </tbody>
</table>
