<modal #modal titre="{{ modalTitre }}">
  <div class="form-group">
      <label>Nom du parachustiste</label>
      <input type="text" [(ngModel)]="formSautTandem.parachutiste.nom" class="form-control">
  </div>
  <div class="form-group">
      <label>Prenom du parachutiste</label>
      <input type="number" [(ngModel)]="formSautTandem.parachutiste.prenom" class="form-control">
  </div>
  <div class="form-group">
      <label>Nom de l'instructeur</label>
      <select class="form-control">
        <option *ngFor="let p of parachutistes" value="p.nom">{{ p.nom }}</option>
      </select>
  </div>
  <div class="form-group">
      <label>Nom du videoman</label>
      <select class="form-control">
        <option *ngFor="let p of parachutistes" value="p.nom">{{ p.nom }}</option>
      </select>  </div>
  <div>
      <button *ngIf="edition" type="button" class="btn btn-outline-dark form-control" (click)="modifierSautTandem()">Modifier</button>
      <button *ngIf="!edition" type="button" class="btn btn-outline-dark form-control" (click)="ajouterSautTandem()">Ajouter</button>
  </div>
</modal>

<button class="btn btn-success" (click)="ajouterSautTandemModal()">Ajouter</button>

<table class="table table-striped">
  <thead>
      <tr>
          <th>Nom du parachutiste</th>
          <th>Prénom du parachutiste</th>
          <th>Nom de l'instructeur</th>
          <th>Prénom de l'instructeur</th>
          <th>Nom du vidéoman</th>
          <th>Prénom du vidéoman</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let s of sautsTandem | async">
          <td>{{ s.parachutiste.nom }}</td>
          <td>{{ s.parachutiste.prenom }}</td>
          <td>{{ s.instructeur.nom }}</td>
          <td>{{ s.instructeur.prenom }}</td>
          <td>{{ s.videoman.nom }}</td>
          <td>{{ s.videoman.prenom }}</td>
          <td><button class="btn btn-warning" (click)="modifierSautTandemModal(s)">Editer</button></td>
          <td><button class="btn btn-danger" (click)="supprimerSautTandem(s)">Supprimer</button></td>
      </tr>
  </tbody>
</table>
