<nav>
    <ul class="nav justify-content-center">
        <img src="../assets/images/dropzonenc.png" name="dropZone">
        <li class="nav-item">
            <a id="accueilVol" class="nav-link" [routerLink]="[ '/' ]">Accueil</a>
        </li>
        <li class="nav-item">
            <a id="affichage" class="nav-link" [routerLink]="[ '/affichage' ]">Affichage</a>
        </li>
        <li class="nav-item">
            <a id="saut-tandem" class="nav-link" [routerLink]="[ '/saut-tandem' ]">Saut Tandem</a>
        </li>
        <li class="nav-item">
            <a id="parachutiste" class="nav-link" [routerLink]="[ '/parachutiste' ]">Parachutiste</a>
        </li>
        <li class="nav-item">
            <a id="parachute" class="nav-link" [routerLink]="[ '/parachute' ]">Parachute</a>
        </li>
        <li class="nav-item">
            <a id="avion" class="nav-link" [routerLink]="[ '/avion' ]">Avion</a>
        </li>
        <li class="nav-item">
            <a id="pilote" class="nav-link" [routerLink]="[ '/pilote' ]">Pilote</a>
        </li>
        <li class="nav-item">
            <a id="beer-list" class="nav-link" [routerLink]="[ '/beer-list' ]">Beer list</a>
        </li>
    </ul>
</nav>

<modal #modal titre="{{ modalTitre }}">
    <div class="form-group">
        <label>Nom</label>
        <input type="text" [(ngModel)]="formPilote.nom" class="form-control">
    </div>
    <div class="form-group">
        <label>Prenom</label>
        <input type="text" [(ngModel)]="formPilote.prenom" class="form-control">
    </div>
    <div class="form-group">
        <label>Disponible</label>
        <input type="checkbox" [(ngModel)]="formPilote.disponible" class="form-control">
    </div>

    <div class="form-group">
        <button *ngIf="edition" type="button" class="btn btn-outline-dark" (click)="modifierPilote()">Modifier</button>
        <button *ngIf="!edition" type="button" class="btn btn-outline-dark" (click)="ajouterPilote()">Ajouter</button>
    </div>
</modal>

<div class="container">
    <button style="background-color: #a456fd; margin-bottom: 5px;" class="btn" (click)="ajouterPiloteModal()">Ajouter un
        pilote</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Licence</th>
            <th>Disponible</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pilote of pilotes | async">
            <td>{{ pilote.nom }}</td>
            <td>{{ pilote.prenom }}</td>
            <td>{{ pilote.id }}</td>
            <td>{{ pilote.disponible }}</td>
            <td><button class="btn btn-warning" (click)="modifierPiloteModal(pilote)">Editer</button></td>
            <td><button class="btn btn-danger" (click)="supprimerPilote(pilote)">Supprimer</button></td>
        </tr>
    </tbody>
</table>